body {
    background-color: antiquewhite;
    font-size: 24px;

    margin: 30px;
}

h1, h2 {
    color: indianred;
}

h3 {
    color: coral;
    font-size: 28px;
    font-weight: bold;
}

p {
    color: salmon;
}